name: release
run-name: release

permissions:
    contents: write

on:
    schedule:
        - cron: "0 16 * * *"

jobs:
    release:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@v4
              with:
                  fetch-depth: 0
                  fetch-tags: true
            - name: setup git
              run: |
                  git config --global user.name "github-actions[bot]"
                  git config --global user.email "41898282+github-actions[bot]@users.noreply.github.com"
            - id: new_version
              name: generate new version
              run: |
                  new_version=$(date +%Y.%m.%d)
                  echo "New version: $new_version"
                  echo "tag=$new_version" >> "$GITHUB_OUTPUT"
            - name: set tag
              run: git tag -a ${{ steps.new_version.outputs.tag }} -m "Release ${{ steps.new_version.outputs.tag }}"
            - run: git push origin ${{ steps.new_version.outputs.tag }}

            - name: install dependencies
              run: |
                  npm ci
            - name: download latest release artifacts
              run: |
                  latest_tag=$(gh release list --limit 1 --json tagName --template '{{(index . 0).tagName}}')
                  gh release download $latest_tag --dir output
              env:
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
            - name: build
              env:
                  UTID_NAME: ${{ secrets.UTID_NAME }}
                  PASSWORD: ${{ secrets.PASSWORD }}
              run: |
                  npm run build
                  npm run start
            - name: create release
              run: |
                  cd output
                  gh release create ${{ steps.new_version.outputs.tag }} --title "Release ${{ steps.new_version.outputs.tag }}" --generate-notes \
                    hierarchy.kdb.txt \
                    hierarchy.kdb.txt.diff \
                    irregularSubjects.txt \
                    irregularSubjects.txt.diff \
                    subjects.flat.kdb.json \
                    subjects.flat.kdb.map.diff.json \
                    subjects.flat.kdb.map.json \
                    subjects.flat.shallow.kdb.json \
                    subjects.flat.shallow.kdb.map.diff.json \
                    subjects.flat.shallow.kdb.map.json \
                    subjects.merged.json \
                    subjects.merged.map.diff.json \
                    subjects.merged.map.json \
                    subjects.twins.json \
                    subjects.twins.map.diff.json \
                    subjects.twins.map.json \
                    tree.kdb.json
              env:
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
